PORT=8080
SUPABASE_URL=<<TU_SUPABASE_URL>>
SUPABASE_SERVICE_ROLE=<<TU_SERVICE_ROLE_KEY>>
WEB_PUSH_VAPID_PUBLIC_KEY=<<GENERAR>>
WEB_PUSH_VAPID_PRIVATE_KEY=<<GENERAR>>
WEB_PUSH_SUBJECT=mailto:soporte@lokaly.app
